<!-- <% ns.forEach(function(i){ %>
    <h1> <%=i%></h1>
<% }); %> -->
<!-- <%=ns%> -->

<html>
    <head>
        <!-- <link rel="stylesheet" href="/style/css/bootstrap-4.3.1-dist/css/bootstrap.min.css">
        <script src="/style/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script> -->
    </head>
    <body>
        <p>Khách Hàng</p>
  

            <!-- <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">makh</th>
                        <th scope="col">tenkh</th>
                        <th scope="col">cmnd</th>
                        <th scope="col">eamil</th>
                        <th scope="col">diachi</th>
                        <th scope="col">gioitinh</th>
                        <th scope="col">sdt</th>
                        
                      </tr>
                    </thead>    
                    <% listkh.forEach(function(khbk){ %>
                                
                        <tbody>
                                <tr>
                                    <th scope="row">1/th> 
                                    <td><%=khbk.makh%></td>
                                    <td><%=khbk.tenkh%></td>
                                    <td><%=khbk.cmnd%></td>
                                    <td><%=khbk.eamil%></td>
                                    <td><%=khbk.diachi%></td>
                                    <td><%=khbk.gioitinh%></td>
                                    <td><%=khbk.sdt%></td>
                                   
                         
                                </tr>
                        </tbody>

                    <% }%>

            
             </table> -->

   
    </body>
</html>